@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 30% 97%;
    --foreground: 220 25% 20%;
    --card: 220 25% 98%;
    --card-foreground: 220 25% 20%;
    --popover: 220 25% 98%;
    --popover-foreground: 220 25% 20%;
    --primary: 220 40% 45%;
    --primary-foreground: 220 40% 98%;
    --secondary: 220 20% 85%;
    --secondary-foreground: 220 25% 20%;
    --muted: 220 20% 93%;
    --muted-foreground: 220 20% 45%;
    --accent: 220 30% 75%;
    --accent-foreground: 220 25% 20%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 220 40% 98%;
    --border: 220 25% 90%;
    --input: 220 25% 95%;
    --ring: 220 40% 45%;
    --chart-1: 220 40% 45%;
    --chart-2: 220 35% 55%;
    --chart-3: 220 30% 65%;
    --chart-4: 220 25% 75%;
    --chart-5: 220 20% 85%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 10% 8%;
    --foreground: 220 5% 85%;
    --card: 220 8% 11%;
    --card-foreground: 220 5% 85%;
    --popover: 220 8% 11%;
    --popover-foreground: 220 5% 85%;
    --primary: 220 15% 45%;
    --primary-foreground: 220 10% 8%;
    --secondary: 220 10% 20%;
    --secondary-foreground: 220 5% 85%;
    --muted: 220 8% 15%;
    --muted-foreground: 220 5% 65%;
    --accent: 220 12% 30%;
    --accent-foreground: 220 10% 8%;
    --destructive: 0 30% 35%;
    --destructive-foreground: 220 5% 85%;
    --border: 220 8% 15%;
    --input: 220 8% 18%;
    --ring: 220 15% 45%;
    --chart-1: 220 15% 45%;
    --chart-2: 220 12% 35%;
    --chart-3: 220 10% 25%;
    --chart-4: 220 8% 20%;
    --chart-5: 220 5% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.spinner {
  border-color: hsl(var(--muted)) !important;
  border-bottom-color: transparent !important;
}